{{ define "feedback-form"}}
    <div class="wrapper">
        <div class="improve-this-page" data-module="improve-this-page">
            {{/* Using "assertive" instead of "polite" due to a known and open issue with NVDA on Chrome, issue #8873
            https://github.com/nvaccess/nvda/issues/8873 and
            https://ux.stackexchange.com/questions/131889/accessible-way-of-notifying-a-screen-reader-about-loading-the-dynamic-web-page-u */}}
            <div class="improve-this-page__prompt clearfix link-adjust" id="feedback-form-header" role="status" aria-live="assertive" tabindex="-1">
                <div class="improve-this-page__prompt_left">
                    <h2 class="improve-this-page__is-useful-question margin-right--1">
                        Is this page useful?
                    </h2>
                    <a id="feedback-form-yes" class="improve-this-page__page-is-useful-button" href="https://beta.ons.gov.uk/feedback/thanks" aria-label="Yes I found this page useful">
                        Yes
                    </a>
                    <span>|</span>
                    <a id="feedback-form-no" class="js-toggle" href="https://beta.ons.gov.uk/feedback?service=dev" aria-label="No I didn't find this page useful">
                        No
                    </a>
                </div>
                <div class="improve-this-page__prompt_right">
                    <a id="feedback-form-anything-wrong" class="js-toggle improve-this-page__anything-wrong" href="https://beta.ons.gov.uk/feedback?service=dev">
                        Can't find what you're looking for?
                    </a>
                </div>
            </div>
            <div id="feedback-form" class="improve-this-page__form js-hidden">
            <div class="ons-col-8@m">
                <form id="feedback-form-container" name="feedback-form">
                    <input type="hidden" name="feedback-form-type" value="footer">
                    <input type="hidden" name="type" value="A specific page">
                    <input type="hidden" name="url" id="feedback-api-enabled" value="true">
                    <input type="hidden" name="url" id="feedback-api-url" value="https://api.beta.ons.gov.uk/v1/feedback">
                <div class="form-group">
                    <label class="form-label-bold" id="description-field-label" for="description-field">
                        How should we improve this page?
                    </label>
                    <textarea id="description-field" class="form-control" name="description" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <p class="font-size--24 font-weight-700 margin-bottom--0">
                        Do you want a reply?
                    </p>
                    <p class="font-size--18 margin-top--0">
                        If you'd like us to get back to you, please add your name and email address below.
                    </p>
                    <label class="form-label-bold" for="name-field">
                        Name (optional)
                    </label>
                    <input id="name-field" class="form-control" type="text" name="name">
                </div>
                <div class="form-group">
                    <label class="form-label-bold" id="email-field-label" for="email-field">
                        Email (optional)
                    </label>
                    <input id="email-field" class="form-control" type="text" name="email">
                </div>
                <div>
                    <input id="feedback-form-submit" class="btn btn--primary font-weight-700 margin-bottom--2" value="Send feedback" type="submit">
                </div>
                <div>
                    <a
                        href="javascript:void(0)"
                        id="feedback-form-close"
                        class="improve-this-page__close js-toggle btn btn--secondary font-weight-700"
                    >
                        I don't want to provide feedback
                    </a>
                </div>
            </form>
            </div>
            </div>
        </div>
    </div>
{{ end }}
