<p>{{.Data.Spec.Spec.Info.Description}}</p>
<nav>
    <ul class="list--neutral">
    {{range $value := .Data.OrderedPaths}}
        <li class="break-word"><a href="{{$value.SiteURL}}">{{$value.APIURL}}</a></li>        
    {{end}}
    </ul>
</nav>