<h1>API: {{ .Data.Spec.Spec.Info.Title }}</h1>
<p>{{.Data.Spec.Spec.Info.Description}}</p>

<nav>
    <ul>
    {{range $value := .Data.OrderedPaths}}
        <li><a href="{{$value.SiteURL}}">{{$value.APIURL}}</a></li>        
    {{end}}
    </ul>
</nav>