{{$firstNavItem := index .Nav 0}}
{{$rootPath := $firstNavItem.GetRelativePath .Path}}
<article class="static section__content--static-markdown">
    {{.Data}}
</article>
<script src="/{{$rootPath}}assets/js/bundle.js"></script>